<%= form_with(model:transaction,local: true) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
 </div>
 <div>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
 </div>



 <div>
  <%= f.label 'Group' %>
  <%= f.collection_check_boxes :group_ids, Group.all,:id, :name do |g| %>
  <div class="collection-check-box">
  	<%= g.check_box %>
  	<%= g.label %>
  </div>

  <% end %>
 </div>


 <p>
  <%= f.submit %>
 </p> 
<% end %>